body {
    font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
    color: #333;
    background-color: #fff;
    margin: 0;
}

a {
    text-decoration: none;
}

.el-header {
    height: 40px !important;
    line-height: 40px;
    font-size: 12px;
    color: #fff;
    background: #333;
}

.el-main {
    padding: 20px 0 20px 0 !important;
}

.contain, .el-footer, .el-header> .el-row {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    height: 60px;
    margin-left: -40px;
}

.el-menu--horizontal {
    border-bottom: none;
}

.el-menu--horizontal>.el-menu-item a {
    color: #333;
    font-size: 15px;
}

.contain {
    padding-bottom: 12px;
}

.backcolor-dark {
    background-color: #f5f5f5;
}

.title {
    font-size: 22px;
    font-weight: 200;
    margin: 20px 0 5px;
    color: #333;
}

.txt {
    text-indent: 2em;
    margin-bottom: 5px;
    line-height: 1.9em;
}

.txt-left {
    margin-right: 20px;
}

.txt-right {
    margin-left: -5px;
    width: 880px;
}

.img {
    width: 270px;
}

.foot {
    margin-bottom: 20px;
}

.split-horizontal {
    width: 100%;
    margin: 0 auto 20px;
    border-top: 1px solid #e0e0e0;
    transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);	/* IE 9 */
    -moz-transform: scaleY(0.5);	/* Firefox */
    -webkit-transform: scaleY(0.5); /* Safari 和 Chrome */
    -o-transform: scaleY(0.5); 	/* Opera */
}

.split-vertical {
    border-right: 1px solid #e0e0e0;;
}

.advert {
    display: flex;
    justify-content: center;
    color: #575757;
    line-height: 25px;
}

.contact {
    margin-left: 20px
}

.address {
    margin-top: 10px;
    color: #575757;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
}

.address a {
    color: #575757;
}

.icon {
    margin:  3px 8px 0 0;
    font-size: 20px;
}

.saoyisao, .call {
    color: #575757;
    font-size: 12px;
    line-height: 20px;
}

.saoyisao {
    margin-left: 6px;
}

.wechat {
    width: 100px;
}

.tel a{
    display: block;
    margin-top: 8px;
    color: #E84519;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
}

/* .el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 800px;
    margin: 0;
  }

  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }

  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }*/
